*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{

    background-image: url("https://img.freepik.com/free-vector/futuristic-technological-wallpaper_79603-1093.jpg?t=st=1732595508~exp=1732599108~hmac=21e06076eff602503fb676f08a50cc725d3b25f1eeaa926ff94216233ca6598b&w=996");

   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.form label {
    color: rgb(223, 212, 212); /* Change label text color */
}
textarea {
    width: 300px; /* Fixed width */
    height: 150px; /* Fixed height */
    resize: none; /* Disable manual resizing */
    padding: 10px; /* Optional: Add some padding inside the textarea */
    border: 1px solid #ccc; /* Optional: Border for clarity */
    border-radius: 5px; /* Optional: Rounded corners */
    font-family: Arial, sans-serif; /* Optional: Font styling */
    font-size: 14px; /* Optional: Font size */
}
a{
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
}

h4{
    text-align: center;
    color: aquamarine;
}
.form  {
    padding: 10px;
    margin: 5px;
    color: whitesmoke;
    background: rgba(239, 235, 236, 0.83);
    border: 2px solid antiquewhite;
    border-radius: 50px;
    background: darkcyan;
}